<div class="row w-100 h-100"> 
    <div class="ingredient-list col-3 bg-dark overflow-auto h-100">
        <h3 *ngFor="let ingredient of ingredients" (click)="selectIngredient(ingredient)" class="ingredient">{{ ingredient.name }}</h3>
    </div>
    <div class="selected-ingredient col-9" *ngIf="selectedIngredient">
        <div class="row">
            <img class="ingredient-img" [src]="selectedIngredient.image" [alt]="selectedIngredient.name"/>
        </div>
        <div class="row">
            <h2>{{ selectedIngredient.name }}</h2>
        </div>
        <div class ="row">
            <div class="col-6"><h3>{{ selectedIngredient?.effects[0] }}</h3></div>
            <div class="col-6"><h3>{{ selectedIngredient?.effects[1] }}</h3></div>
        </div>
        <div class ="row">
            <div class="col-6"><h3>{{ selectedIngredient?.effects[2] }}</h3></div>
            <div class="col-6"><h3>{{ selectedIngredient?.effects[3] }}</h3></div>
        </div>
    </div>
</div>